<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
</head>

<body>
	<!-- This code will not execute, it's just for humans  -->
	<!-- google image  -->
	<img src="https://picsum.photos/500/200" alt="A random pic">
	<div>
		<!-- search bar -->
		<input type="text">
		<label for="search"></label>

	</div>
	<!-- two buttons  -->
	<div><button>one</button><button>two</button></div>
</body>

</html>